body {
  background-color: #05152f;
  overflow: auto;
}

.container {
  margin: 0% 25%;
  color: #fff;
  z-index: 1;
  text-align: celeftter;
  position: absolute;
}

.header {
  /* top: 0;
  left: 0; */
  margin-bottom: 40%;
  margin-left: 5%;
  margin-top: 5%;
  font-family: "Muli", sans-serif;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1px;
  font-family: "Quicksand", sans-serif;
}

@media all and (min-width: 580px) {
  body {
    background-color: #05152f;
    color: #fff;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
  }

  .container {
    margin-left: 10%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    /* margin: 16em 8em; */
  }
}

/*
Form css
*/

.form {
  margin-top: 10%;
  margin-bottom: 5%;
}

.form-inputs p {
  color: red;
}

button {
  font-size: 1rem;
  margin-top: 1em;
  padding: 0.53em 1em;
  background-color: #7d7d7d;
  border: none;
  color: white;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.356);
}

input {
  margin-bottom: 6%;
  padding: 3%;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  width: 80%;
  background-color: #122646;
}
